* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

:root {
    font-family: Ubuntu;
    font-size: 18px;
}

body {
    min-height: 100vh;
    background-color: #eef5ff;
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-basis: 60vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sidebar {
    background-image: url("../images/bg-sidebar-desktop.svg");
    border-radius: 10px;
    flex-basis: 33%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    padding-top: 1.5rem;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
}

#active_step {
    background-color: #eef5ff;
    color: #483eff;
}

#step1_icon,
#step2_icon,
#step3_icon,
#step4_icon {
    display: flex;
    flex-basis: 90%;
    color: #fff;
    margin: 1rem 0;
    margin-left: 10%;
    justify-content: flex-start;
}

.step {
    display: none;
}
.step_info {
    text-transform: uppercase;
    padding: 0 1rem;
}

.step_info p {
    font-size: 0.8rem;
    font-weight: 600;
}

span {
    color: #9a97f8;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.free {
    visibility: hidden;
    font-size: 0.7rem;
    color: #49556c;
    display: block;
}

.forms_tab {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0rem;
    padding-right: 5rem;
}

.forms_tab h1 {
    color: #0b2b56;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input_group {
    width: 100%;
    margin-bottom: 1rem;
}

label {
    color: #49556c;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    border: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    display: block;
}

input:focus{
    outline: none;
    border-color: #483eff !important;
}

input::placeholder {
    color: #a7a8ad;
    font-size: 0.7rem;
    font-weight: 600;
}

.btn_group {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;
}

.btn_group button {
    background-color: #0b2b56;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.7rem;
    font-size: 0.7rem;
    font-weight: 600;
}

small {
    color: #a7a8ad;
    padding: 1rem 0;
}

.plans {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan {
    flex-basis: 30%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    cursor: pointer;
}
.plan h3 {
    padding-top: 1.5rem;
    font-size: 1rem;
}
.pricing {
    font-size: 0.8rem;
    font-weight: 600;
}

.plan:hover{
    border: 2px solid #483eff !important;
    background-color: rgba(238,245,255, 0.7) !important;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #a7a8ad;
    padding-right: 1rem;
}

.duration_plans {
    background-color: #eef5ff;
    display: flex;
    flex-basis: 100%;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

#plan_switch {
    display: block;
}
input[type="checkbox"] {
    width: 0px;
    height: 0px;
    visibility: hidden;
    position: absolute;
}

#toggle_switch {
    display: block;
    width: 30px;
    height: 15px;
    background-color: #0b2b56;
    border-radius: 100px;
    padding: 0.2rem;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#toggle_switch::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    border-radius: 70px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

input:checked + #toggle_switch:after {
    left: 15px;
}

input:checked + #toggle_switch{
    background-color: #483eff;
}

input[type="checkbox"]:checked{
    background-color: #483eff;
}

.duration_plans span {
    color: #a7a8ad;
    font-size: 0.7rem;
    padding: 0 0.5rem;
    font-weight: 600;
}

.options {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 1rem 0;
    align-items: center;
}

.options h3 {
    font-size: 0.8rem;
}
.options .add_ons{
    display: block;
    visibility: visible;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #0b2b56;
}

.options:hover{
    border: 1px solid #0b2b56;
    cursor: pointer;
}

.addon_price{
    color:#483eff
}

#back {
    visibility: hidden;
}

#curr_plan, #plan_pricing{
    font-size: 0.9rem;
    font-weight: 700;
}


.curr_plan{
    display: flex;
    justify-content: space-between;
    padding:0.8rem 0.5rem;
    background-color: #eef5ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

#change{
    color: #483eff;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
    background-color: #eef5ff;
    cursor: pointer;
    font-size: 0.7rem;
}

.total{
    margin-top: 1rem;
}


#online_price,
#customization_price,
#storage_price {
    font-size: 0.9rem;
}

.add_ons_info {
    background-color: #eef5ff;
}

.addon_price{
    font-size: 0.7rem;
    font-weight: 600;
}
.active {
    display: block;
}

.selected_addon, .total_costing{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 0.5rem;
    color: #a7a8ad;
}

.total_cost{
    font-size: 1rem;
    color:#483eff;
    font-weight: 700;
    padding: 0.5rem;
}

#name_warning, #email_warning, #phone_warning{
    font-size: 0.7rem;
    text-transform: capitalize;
    color: #ff0000;
    font-weight: 600;
}

.regards{
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.regards h1{
    padding: 1rem 0;
}

.regards p{
    color: #a7a8ad;
    padding: 0.5rem;
    font-size: 0.8rem;
}

#back:hover{
    font-weight: 600;
    color: #000;
}

#next:hover{
    cursor: pointer;
    background-color: #483eff;
}
@media screen and (max-width: 480px) {

    :root{
        font-size: 16px;
    }

    body{
        align-items: flex-start;
        height: 100vh;
    }
    .sidebar{
        width: 100vw;
        display: flex;
        flex-basis: 100%;
        position: absolute;
        height: 30vh;
        background-image: url("../images/bg-sidebar-mobile.svg");
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        top:0;
        left:0;
        z-index: -20;
    }

    .form-container{
        flex-basis: 90%;
        background-color: transparent;
        padding: 0;  
    }

    .forms_tab{
        flex-basis: 100%;
        z-index: 20;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 10px;
        margin-top:150px;
    }
    

    .step_info{
        display: none;
    }
    
    .plan{
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:0.5rem;
        padding:0.2rem 0.5rem;
        margin-top:0;
    }

    .plan h3{
        padding: 0;
    }

    .free{
        display: flex;
        flex-basis: 100vw;
        padding: 0.2rem;
        justify-content: center;
        font-weight: 400;
    }
    
    .btn_group{
        width: 100vw;
        position: absolute;
        background-color: #fff;
        box-sizing: border-box;
        justify-content: space-around;
        bottom:0;
        left: 0;
        padding: 1rem 0;
        margin-top: 1rem;
    }

    .selected_addon, .total_title{
        font-size: 0.9rem;
    }
}